.shopping-list__wrapper {
  text-decoration: none;
  list-style-type: none;
  margin:0;
  padding:20px;
  font-size: 1.3rem;
  
}

.shopping-list__item {    
  background-color: aliceblue;
  padding: 30px;
  border-radius: 5px;
  list-style-type: none;
  margin-bottom: 10px;;
}

.text-strike {
  text-decoration: line-through;
  opacity: 0.3;
}
